<style>
 .filter-menu .dropdown-item {
    font-size: 13px !important;
    padding: 6px 12px;
   
}
.dropdown-menu{
   background-color: #ffe5ec !important ;
}
.dropdown-item:hover{
   text-decoration: underline;
   background-color: #ffe5ec !important ;
   color: black !important;
}
</style>
<div class="nav">
  <a href="/blogs" title="Home Feed" class="active">
    <span class="icon-container"><i class="fa-solid fa-house"></i></span>
  </a>
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="icon-container"><i class="fa-solid fa-list"></i></span>
  </a>
  <ul class="dropdown-menu filter-menu">
    <li><a class="dropdown-item filters" href="/blogs/category/Lifestyle">Lifestyle</a></li>
    <li><a class="dropdown-item filters" href="/blogs/category/Health">Health & Wellness</a></li>
    <li><a class="dropdown-item filters" href="/blogs/category/Travel">Travel</a></li>
    <li><a class="dropdown-item filters" href="/blogs/category/Food">Food & Cooking</a></li>
    <li><a class="dropdown-item filters" href="/blogs/category/Photography">Photography</a></li>
    <li><a class="dropdown-item filters" href="/blogs/category/DIY">DIY & Crafts</a></li>
    <li><a class="dropdown-item filters" href="/blogs/category/Technology">Technology</a></li>
    <li><a class="dropdown-item filters" href="/blogs/category/Education">Education & Learning</a></li>
    <li><a class="dropdown-item filters" href="/blogs/category/Art">Art & Creativity</a></li>
    <li><a class="dropdown-item filters" href="/blogs/category/Writing">Books & Writing</a></li>

  </ul>
  </li>
  </ul>
  <!-- <a href="/blogs/fullBlog" title="Full Blog List">
            <span class="icon-container"><i class="fa-solid fa-list"></i></span> -->
  </a>
  <a href="/blogs/about" title="About Page">
    <span class="icon-container"><i class="fa-solid fa-bookmark"></i></i></span>
  </a>
  <a href="/blogs/create" title="create blog">
    <span class="icon-container"><i class="fa-solid fa-plus"></i></span>
  </a>
  <a href="/blogs/logout" title="Log out">
    <span class="icon-container"><i class="fa-solid fa-right-from-bracket"></i></span>
  </a>
</div>