<% layout('/boilerCode/boilerCode') -%>

    <body>
        <div class="box">
            <div class="Title">
                <h2>SPARK AND SCRIBE </h2>
                <p>From sparks of thought to words that shine.</p>
            </div>

            <div class="searchbar">
                <form action="/search" method="get" class="searchform">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input type="text" name="q" placeholder="Search" class="searchinput">
                </form>
            </div>
            <div class="Post_cards">
                <% for (post of allPost) { %>
                    <a href="/blogs/show/<%= post._id %>" class="blog-card">
                        <img src="<%= post.image.url %>" class="card-image">
                        <div class="card-content">
                            <h3 class="card-title">
                                <%= post.title %>
                            </h3>
                            <p class="card-excerpt">
                                <%= post.content %>
                            </p>
                        </div>
                    </a>
                    <% } %>
            </div>


        </div>

    </body>